@import url('https://rsms.me/inter/inter.css');

html {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

main {
	display: table;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 44vw;
}

section {
	vertical-align: middle;
	display: table-cell;
}

.title {
	font-size: 7vw;
	font-weight: 500;
	word-wrap: normal;
	word-break: normal;
	color: white;
	width: 100%;
}